.mb-1 {
    margin-bottom: 1rem;
}

.container {
    height: 300px;
    background-color: lightgreen;
}

.box {
    width: 100%;
    min-height: 50px;
    border: 1px solid white;
    background-color: #006CFA;
    text-align: center;
    line-height: 50px;
    color: white;
    padding: 2px;
}

.nested-box {
    background-color: #00E165;
    text-align: center;
    line-height: 50px;
    margin: 2px;
}